:root {
  --text-color: #090909;
  --primary: #d02c2c;
  --green: linear-gradient(90deg, #53CF5C 100%, #595959 100%);
  --blue: linear-gradient(90deg, #299FD9 100%, #165473 100%);
  --red: linear-gradient(90deg, #D02C2C 100%, #D02C2C 100%, #982929 100%);
  --lightgray: #ededed;
  --white:#fff;
  --transition: all 0.3s;
}
