.hero {
  padding-top: 30px;
  overflow: hidden;
  &__top {
    @include flex(stretch, space-between, row, 25px);
    @media screen and (max-width: 768px) {
      .button {
        display: none;
      }
    }
    &--form {
      @include flex(stretch, space-between, row, 10px);
      flex-grow: 1;
      padding: 6px 16px;
      border-radius: 15px;
      border: 1px solid #000000;
      @media screen and (max-width: 768px) {
        border-radius: 10px;
      }
      input[type="text"] {
        width: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        @media screen and (max-width: 768px) {
          font-size: 15px;
        }
        &::placeholder {
          color: #000000;
        }
      }

      #check {
        @include flex(center, center, row, 16px);
        @media screen and (max-width: 768px) {
          gap: 7px;
        }
        label {
          cursor: pointer;
        }
      }
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          font-size: 15px;
          width: 14px;
          height: 14px;
        }
      }
      .slash {
        width: 1px;
        height: 100%;
        background-color: #000000;
      }
      button {
        @media screen and (max-width: 768px) {
          svg {
            width: 16px;
          }
        }
      }
    }
  }
  &__swiper {
    margin: 75px 0 55px;
    height: 442px;
    @media screen and (max-width: 768px) {
      height: 200px;
      margin-top: 25px;
      margin-bottom: 30px;
    }
    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px 120px;
      z-index: 2;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      @media screen and (max-width: 1024px) {
        padding: 15px 50px;
      }
      @media screen and (max-width: 768px) {
        padding: 6px 15px 25px 28px;
      }
      * {
        color: var(--white);
      }
    }
  }
  .swiper {
    @media screen and (max-width: 768px) {
      overflow: visible !important;
    }
    &-slide {
      position: relative;
      @media screen and (max-width: 768px) {
        width: 410px;
        border-radius: 10px;
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        z-index: -1;
      }
      h2 {
        max-width: 750px;
        font-size: 47px;
        line-height: 66.7px;
        @media screen and (max-width: 1024px) {
          font-size: 40px;
          line-height: 55.5px;
        }
        @media screen and (max-width: 768px) {
          font-size: 18px;
          font-weight: 400;
          line-height: 25.5px;
        }
      }
      p {
        margin-top: 45px;
        font-size: 32px;
        line-height: 38.7px;
        @media screen and (max-width: 1024px) {
          font-size: 25px;
          line-height: 30.5px;
        }
        @media screen and (max-width: 768px) {
          margin-top: 20px;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
        }
      }
      a {
        margin-top: 35px;
        width: 245px;
        height: 70px;
        font-size: 18px;
        line-height: 22px;
        @media screen and (max-width: 1024px) {
          margin-top: 60px;
        }
        @media screen and (max-width: 768px) {
          margin-top: 18px;
          width: 115px;
          height: 24px;
          font-size: 8px;
          font-weight: 400;
          line-height: 9.6px;
          border-radius: 5px;
        }
      }
    }
    &-button {
      &-next,
      &-prev {
        width: 55px;
        height: 55px;
        top: auto;
        bottom: 55px !important;
        border-radius: 50%;
        background-color: var(--lightgray) !important;
        &::after {
          font-size: 20px;
          font-weight: 800;
          color: #262626 !important;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      &-prev {
        left: auto;
        right: 155px !important;
      }
      &-next {
        right: 70px !important;
      }
    }
  }
}

.brands {
  padding: 55px 0;
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
  &__filter {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__list {
    width: 100%;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px;
    @media screen and (max-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-gap: 17px;
    }
    @media screen and (max-width: 460px) {
      grid-template-columns: repeat(2, 1fr);
    }
    &--item {
      @include flex(center, space-between, row, 5px);
      padding: 16px 30px;
      background-color: var(--lightgray);
      border-radius: 5px;
      img {
        max-height: 100%;
        @media screen and (max-width: 768px) {
          max-width: 45px;
        }
      }
      p {
        font-size: 15px;
        line-height: 18.5px;
        font-weight: 500;
        @media screen and (max-width: 768px) {
          font-size: 12px;
          line-height: 14.5px;
        }
      }
      @media screen and (max-width: 768px) {
        padding: 14px;
        height: 56px;
      }
      @media screen and (max-width: 480px) {
        padding: 10px;
        height: 46px;
      }
    }
  }
}

.categories {
  padding: 55px 0;
  overflow: visible;
  .container {
    overflow: visible;
  }
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 45px;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 65px;
    @media screen and (max-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-gap: 15px 20px;
    }
    @media screen and (max-width: 470px) {
      grid-gap: 10px 10px;
    }
    &--item {
      @include flex(flex-start, space-between, column);
      padding: 20px 20px 35px;
      height: 395px;
      border-radius: 15px;
      border: 2px solid #000000;
      @media screen and (max-width: 768px) {
        padding: 20px 20px 15px;
        height: 247px;
        border-radius: 10px;
        border-width: 1px;
      }
      @media screen and (max-width: 470px) {
        padding: 10px;
        height: auto;
        min-height: 250px;
      }
      .line {
        width: 100%;
        border: none;
        border-top: 1px solid #000000;
        margin-top: 12px;
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
          margin-bottom: 17px;
        }
      }
      p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
          font-size: 14px;
          line-height: 17px;
        }
        @media screen and (max-width: 470px) {
          font-size: 12px;
          line-height: 15px;
        }
      }
      .button {
        margin-top: auto;
        @media screen and (max-width: 768px) {
          width: 112px;
          height: 32px;
          font-size: 10px;
          line-height: 12px;
          border-radius: 5px;
        }
      }
    }
  }
  &__item {
    &--title {
      font-size: 25px;
      font-weight: 600;
      line-height: 30px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 19px;
      }
      @media screen and (max-width: 470px) {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  &__button {
    margin-inline: auto;
    margin-top: 60px;
    width: 280px;
    height: 60px;
    font-size: 18px;
    @media screen and (max-width: 768px) {
      margin-top: 35px;
      width: 165px;
      height: 32px;
      font-size: 10px;
      border-radius: 5px;
    }
  }
}

.oil {
  padding: 55px 0;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
  .title {
    margin-bottom: 27px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .filter {
    margin: 0;
  }
  &__top {
    @include flex(center, space-between, row, 25px);
    @media screen and (max-width: 768px) {
      align-items: flex-end;
    }
  }
  &__list {
    padding-top: 32px;
    width: 100%;
    @media screen and (max-width: "576px") {
      overflow: visible;
    }
    .swiper-slide {
      width: auto;
    }
    &--item {
      @include flex(flex-start, space-between, column);
      padding: 20px 20px 35px;
      width: 100%;
      border-radius: 15px;
      border: 2px solid #000000;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        padding: 20px 20px 15px;
        border-radius: 10px;
        border-width: 1px;
      }
      @media screen and (max-width: 576px) {
        width: 215px;
      }
      @media screen and (max-width: 470px) {
        padding: 10px;
      }
    }
    &--price {
      font-size: 27px;
      font-weight: 600;
      line-height: 30px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 19px;
      }
      @media screen and (max-width: 470px) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &--description {
      margin-bottom: 10px;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
    }
    &--rating {
      @include flex(center, center, row, 12px);
      div {
        @include flex(center, center, row, 5px);
      }
      p {
        font-size: 14px;
        color: #3dc028;
      }
    }
    &--buttons {
      width: 100%;
      margin-top: 15px;
      @include flex(center, flex-start, row, 36px);
      div {
        @include flex(center, center, row, 18px);
      }
      .button {
        width: 115px;
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
      }
    }
  }
  &__swiper {
    width: 100% !important;
    height: 150px;
    margin-bottom: 16px;
    .swiper-slide {
      width: 100%;
      @include flex(flex-start, center);
      img {
        height: 120px;
      }
    }
    .swiper-pagination {
      bottom: 0;
      &-bullet {
        width: 23px;
        height: 2px;
        background-color: #151515;
      }
    }
  }
}

.logos {
  padding: 40px 0;
  overflow: hidden;
  background-color: var(--lightgray);
  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }
  &__swiper {
    .swiper-slide {
      @include flex(center, center);
      height: 75px;
      @media screen and (max-width: 1024px) {
        height: 30px;
        img {
          width: 40px;
          height: 100%;
         object-fit: contain;
        }
      }
    }
  }
  .swiper {
    width: 80%;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
    &-button {
      &-next,
      &-prev {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #e0e0e0;
        &::after {
          font-size: 20px;
          font-weight: 800;
          color: #262626 !important;
        }
        @media screen and (max-width: 768px) {
          width: 22px;
          height: 22px;
          top:95%;
          &::after {
            font-size: 8px;
          }
        }
      }
    }
  }
}

.products {
  padding: 55px 0;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
  .title {
    margin-bottom: 27px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .filter {
    margin: 0;
  }
  &__top {
    @include flex(center, space-between, row, 25px);
    @media screen and (max-width: 768px) {
      align-items: flex-end;
    }
  }
  &__list {
    padding-top: 32px;
    width: 100%;
    @media screen and (max-width: "576px") {
      overflow: visible;
    }
    .swiper-slide {
      width: auto;
    }
    &--item {
      @include flex(flex-start, space-between, column);
      padding: 20px 20px 35px;
      width: 100%;
      border-radius: 15px;
      border: 2px solid #000000;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        padding: 20px 20px 15px;
        border-radius: 10px;
        border-width: 1px;
      }
      @media screen and (max-width: 576px) {
        width: 215px;
      }
      @media screen and (max-width: 470px) {
        padding: 10px;
      }
    }
    &--price {
      font-size: 27px;
      font-weight: 600;
      line-height: 30px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 19px;
      }
      @media screen and (max-width: 470px) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &--description {
      margin-bottom: 10px;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
    }
    &--rating {
      @include flex(center, center, row, 12px);
      div {
        @include flex(center, center, row, 5px);
      }
      p {
        font-size: 14px;
        color: #3dc028;
      }
    }
    &--buttons {
      width: 100%;
      margin-top: 15px;
      @include flex(center, flex-start, row, 36px);
      div {
        @include flex(center, center, row, 18px);
      }
      .button {
        width: 115px;
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
      }
    }
  }
  &__swiper {
    width: 100% !important;
    height: 150px;
    margin-bottom: 16px;
    .swiper-slide {
      width: 100%;
      @include flex(flex-start, center);
      img {
        height: 120px;
      }
    }
    .swiper-pagination {
      bottom: 0;
      &-bullet {
        width: 23px;
        height: 2px;
        background-color: #151515;
      }
    }
  }
}