@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  color: var(--text-color);
}

main {
  padding-top: 130px;
}
@media screen and (max-width: 1024px) {
  main {
    padding-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  main {
    padding-top: 70px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f2f4fb;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f2f4fb;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: none;
  box-shadow: none;
  border-radius: 20px;
}

body {
  background: var(--white);
  max-width: 100%;
  overflow-x: hidden;
}

section,
footer {
  width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
select,
hr,
button,
textarea,
iframe {
  border: none;
  outline: none;
  background: transparent;
}

:root {
  --text-color: #090909;
  --primary: #d02c2c;
  --green: linear-gradient(169deg, rgba(83,207,92,1) 68%, rgba(89,89,89,0.9052871148459384) 100%, rgba(83,207,92,1) 100%);
  --blue: linear-gradient(169deg, #299fd9 32.5%, #165473 100%);
  --red: linear-gradient(90deg, #d02c2c 9.5%, #d02c2c 73%, #982929 100%);
  --lightgray: #ededed;
  --white: #fff;
  --transition: all 0.3s;
}

.nav__top {
  width: 100%;
  padding: 35px 0;
  margin-top: 7px;
  background-color: var(--lightgray);
}
.nav__top .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .nav__top {
    padding: 12px 0;
    margin-top: 2px;
  }
}
.nav__top--links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .nav__top--links {
    flex-direction: row-reverse;
  }
}
.nav__top p {
  font-weight: 400;
  font-size: 17px;
  line-height: 20.5px;
}
@media screen and (max-width: 576px) {
  .nav__top p {
    font-size: 11px;
    line-height: 13.3px;
  }
}
@media screen and (max-width: 480px) {
  .nav__top p {
    font-size: 8px;
    line-height: 12.5px;
  }
}
.nav__top a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  transition: var(--transition);
}
.nav__top a:hover {
  color: #fa0404;
}
@media screen and (max-width: 576px) {
  .nav__top a {
    font-size: 12px;
    line-height: 14.5px;
    flex-direction: row-reverse;
  }
  .nav__top a svg {
    width: 22px;
  }
}
@media screen and (max-width: 480px) {
  .nav__top a {
    font-size: 8px;
    line-height: 12.5px;
  }
  .nav__top a svg {
    width: 17px;
  }
}
.nav__logo img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .nav__logo {
    width: 150px;
  }
}
.nav__menu {
  padding: 35px 0;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  transition: var(--transition);
}
@media screen and (max-width: 576px) {
  .nav__menu {
    top: 56px;
    padding: 15px 0;
  }
}
.nav__menu .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  position: static;
}
.nav__menu--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  transition: var(--transition);
  background-color: var(--white);
}
@media screen and (max-width: 1280px) {
  .nav__menu--list {
    gap: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .nav__menu--list {
    position: fixed;
    top: 190px;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 999;
  }
}
@media screen and (max-width: 576px) {
  .nav__menu--list {
    top: 140px;
  }
}
.nav__menu--list li {
  transition: var(--transition);
}
.nav__menu--list li:hover {
  color: #fa0404;
}
.nav__menu--list.show {
  left: 0;
}
.nav__sticky {
  top: 0;
  padding: 15px 0;
}
@media screen and (max-width: 1024px) {
  .nav__sticky .nav__menu--list {
    top: 92px;
  }
}
@media screen and (max-width: 576px) {
  .nav__sticky .nav__menu--list {
    top: 56px;
  }
}
.nav__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav__open {
  display: flex;
}
.nav__close {
  display: none;
  align-items: center;
  justify-content: center;
}
.nav__close path {
  fill: var(--text-color);
}
@media screen and (max-width: 1024px) {
  .nav__login .button {
    display: none;
  }
}
.nav__login .img {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__login .img {
    display: flex;
  }
}
.nav__toggle {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__toggle {
    display: flex;
  }
}

.footer {
  position: relative;
  padding: 85px 0 75px;
}
@media screen and (max-width: 576px) {
  .footer {
    padding: 40px 0 110px;
  }
}
.footer .container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 60px;
}
@media screen and (max-width: 1280px) {
  .footer .container {
    flex-direction: column;
    gap: 40px;
  }
}
.footer .footer__description {
  display: none;
}
@media screen and (max-width: 576px) {
  .footer .footer__description {
    display: block;
  }
}
.footer .footer__description p {
  max-width: 405px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 45px;
}
@media screen and (max-width: 576px) {
  .footer .footer__description p {
    font-size: 12px;
    line-height: 25px;
  }
}
.footer .footer__description p:last-child {
  font-size: 15px;
  line-height: 18px;
}
@media screen and (max-width: 576px) {
  .footer .footer__description p:last-child {
    margin-top: 40px;
    font-size: 12px;
    line-height: 15px;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;
}
@media screen and (max-width: 576px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 0;
  }
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.footer__logo .footer__time {
  display: none;
  margin: 0;
  margin-top: 30px;
}
@media screen and (max-width: 1280px) {
  .footer__logo {
    margin: 0 auto;
  }
  .footer__logo * {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .footer__logo {
    margin: 0;
  }
  .footer__logo * {
    text-align: left;
  }
  .footer__logo .footer__time {
    display: block !important;
  }
}
.footer__logo .footer__description {
  display: block;
}
@media screen and (max-width: 576px) {
  .footer__logo .footer__description {
    display: none;
  }
}
.footer__logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
@media screen and (max-width: 1280px) {
  .footer__logo a {
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .footer__logo a {
    margin: 0;
  }
  .footer__logo a img {
    width: 180px;
  }
}
@media screen and (max-width: 576px) {
  .footer__accordion {
    margin-bottom: 0;
    padding: 15px 0;
    border-top: 1px solid #000;
  }
  .footer__accordion svg {
    display: flex;
  }
}
.footer__accordion.last {
  border-bottom: 1px solid #000;
}
.footer__accordion--title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  transition: var(--transition);
}
.footer__accordion--title svg {
  display: none;
}
@media screen and (max-width: 576px) {
  .footer__accordion--title svg {
    display: flex;
  }
}
.footer__accordion--list {
  max-width: 300px;
  padding-top: 20px;
}
.footer__accordion--list li {
  margin-bottom: 15px;
}
.footer__accordion--list li a {
  font-size: 15px;
  line-height: 18px;
}
.footer__accordion--main {
  transition: 0.35s cubic-bezier(0.83, 0, 0.17, 1);
}
@media screen and (max-width: 576px) {
  .footer__accordion--main {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s cubic-bezier(0.83, 0, 0.17, 1);
  }
}
.footer__accordion.active .footer__accordion--title svg {
  transform: rotate(180deg);
}
.footer__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer__time {
  margin-block: 56px;
}
.footer__time p {
  font-size: 15px;
  line-height: 19px;
}
@media screen and (max-width: 576px) {
  .footer__time {
    display: none;
  }
}
.footer__social div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .footer__social {
    padding: 40px 0 35px;
  }
  .footer__social svg {
    width: 25px;
    height: 25px;
  }
}
.footer__bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  padding: 16px 0;
  background-color: var(--primary);
}
.footer__bottom .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
}
@media screen and (max-width: 576px) {
  .footer__bottom {
    display: flex;
  }
}
.footer__bottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--white);
}

.button {
  width: 187px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
}
.button:hover {
  background-color: #fa0404;
}

.title {
  font-size: 36px;
  line-height: 43px;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 25px;
    line-height: 30.5px;
  }
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 20px;
    line-height: 24px;
  }
}

.filter {
  position: relative;
  margin: 45px 0 35px;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .filter {
    margin: 21px 0 35px;
  }
}
.filter__btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .filter__btns {
    gap: 10px;
  }
}
.filter__btns button {
  width: 180px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lightgray);
  transition: var(--transition);
}
.filter__btns button.active {
  background-color: var(--primary);
  color: var(--white);
}
.filter__btns button:hover {
  background-color: #fa0404;
  color: var(--white);
}
@media screen and (max-width: 768px) {
  .filter__btns button {
    min-width: 125px;
    width: 125px;
    height: 25px;
    font-size: 12px;
    line-height: 14.5px;
    border-radius: 3px;
  }
}

.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 55px;
  height: 55px;
  top: auto;
  bottom: 55px !important;
  border-radius: 50%;
  background-color: var(--lightgray) !important;
}
@media screen and (max-width: 576px) {
  .arrow {
    width: 22px;
    height: 22px;
  }
  .arrow svg {
    width: 8px;
  }
}

.container {
  position: relative;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1410px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
    max-width: 678px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
    max-width: 480px;
  }
}
@media screen and (max-width: 340px) {
  .container {
    padding: 0 10px;
  }
}

.hero {
  padding-top: 30px;
  overflow: hidden;
}
.hero__top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .hero__top .button {
    display: none;
  }
}
.hero__top--form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
  padding: 6px 16px;
  border-radius: 15px;
  border: 1px solid #000000;
}
@media screen and (max-width: 768px) {
  .hero__top--form {
    border-radius: 10px;
  }
}
.hero__top--form input[type=text] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .hero__top--form input[type=text] {
    font-size: 15px;
  }
}
.hero__top--form input[type=text]::-moz-placeholder {
  color: #000000;
}
.hero__top--form input[type=text]::placeholder {
  color: #000000;
}
.hero__top--form #check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .hero__top--form #check {
    gap: 7px;
  }
}
.hero__top--form #check label {
  cursor: pointer;
}
.hero__top--form input[type=checkbox] {
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hero__top--form input[type=checkbox] {
    font-size: 15px;
    width: 14px;
    height: 14px;
  }
}
.hero__top--form .slash {
  width: 1px;
  height: 100%;
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .hero__top--form button svg {
    width: 16px;
  }
}
.hero__swiper {
  margin: 75px 0 55px;
  height: 442px;
}
@media screen and (max-width: 768px) {
  .hero__swiper {
    height: 200px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
}
.hero__swiper-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 120px;
  z-index: 2;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 1024px) {
  .hero__swiper-content {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 768px) {
  .hero__swiper-content {
    padding: 6px 15px 25px 28px;
  }
}
.hero__swiper-content * {
  color: var(--white);
}
@media screen and (max-width: 768px) {
  .hero .swiper {
    overflow: visible !important;
  }
}
.hero .swiper-slide {
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero .swiper-slide {
    width: 410px;
    border-radius: 10px;
  }
}
.hero .swiper-slide img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  z-index: -1;
}
.hero .swiper-slide h2 {
  max-width: 750px;
  font-size: 47px;
  line-height: 66.7px;
}
@media screen and (max-width: 1024px) {
  .hero .swiper-slide h2 {
    font-size: 40px;
    line-height: 55.5px;
  }
}
@media screen and (max-width: 768px) {
  .hero .swiper-slide h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.5px;
  }
}
.hero .swiper-slide p {
  margin-top: 45px;
  font-size: 32px;
  line-height: 38.7px;
}
@media screen and (max-width: 1024px) {
  .hero .swiper-slide p {
    font-size: 25px;
    line-height: 30.5px;
  }
}
@media screen and (max-width: 768px) {
  .hero .swiper-slide p {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }
}
.hero .swiper-slide a {
  margin-top: 35px;
  width: 245px;
  height: 70px;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 1024px) {
  .hero .swiper-slide a {
    margin-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .hero .swiper-slide a {
    margin-top: 18px;
    width: 115px;
    height: 24px;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.6px;
    border-radius: 5px;
  }
}
.hero .swiper-button-next, .hero .swiper-button-prev {
  width: 55px;
  height: 55px;
  top: auto;
  bottom: 55px !important;
  border-radius: 50%;
  background-color: var(--lightgray) !important;
}
.hero .swiper-button-next::after, .hero .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 800;
  color: #262626 !important;
}
@media screen and (max-width: 768px) {
  .hero .swiper-button-next, .hero .swiper-button-prev {
    display: none;
  }
}
.hero .swiper-button-prev {
  left: auto;
  right: 155px !important;
}
.hero .swiper-button-next {
  right: 70px !important;
}

.brands {
  padding: 55px 0;
}
@media screen and (max-width: 768px) {
  .brands {
    padding: 30px 0;
  }
}
.brands__filter::-webkit-scrollbar {
  display: none;
}
.brands__list {
  width: 100%;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 25px;
}
@media screen and (max-width: 1280px) {
  .brands__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .brands__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .brands__list {
    grid-gap: 17px;
  }
}
@media screen and (max-width: 460px) {
  .brands__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.brands__list--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 16px 30px;
  background-color: var(--lightgray);
  border-radius: 5px;
}
.brands__list--item img {
  max-height: 100%;
}
@media screen and (max-width: 768px) {
  .brands__list--item img {
    max-width: 45px;
  }
}
.brands__list--item p {
  font-size: 15px;
  line-height: 18.5px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .brands__list--item p {
    font-size: 12px;
    line-height: 14.5px;
  }
}
@media screen and (max-width: 768px) {
  .brands__list--item {
    padding: 14px;
    height: 56px;
  }
}
@media screen and (max-width: 480px) {
  .brands__list--item {
    padding: 10px;
    height: 46px;
  }
}

.categories {
  padding: 55px 0;
  overflow: visible;
}
.categories .container {
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .categories {
    padding: 30px 0;
  }
}
.categories__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 45px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .categories__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}
.categories__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 45px 65px;
}
@media screen and (max-width: 1280px) {
  .categories__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .categories__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .categories__list {
    grid-gap: 15px 20px;
  }
}
@media screen and (max-width: 470px) {
  .categories__list {
    grid-gap: 10px 10px;
  }
}
.categories__list--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0px;
  padding: 20px 20px 35px;
  height: 395px;
  border-radius: 15px;
  border: 2px solid #000000;
}
@media screen and (max-width: 768px) {
  .categories__list--item {
    padding: 20px 20px 15px;
    height: 247px;
    border-radius: 10px;
    border-width: 1px;
  }
}
@media screen and (max-width: 470px) {
  .categories__list--item {
    padding: 10px;
    height: auto;
    min-height: 250px;
  }
}
.categories__list--item .line {
  width: 100%;
  border: none;
  border-top: 1px solid #000000;
  margin-top: 12px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .categories__list--item .line {
    margin-bottom: 17px;
  }
}
.categories__list--item p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .categories__list--item p {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 470px) {
  .categories__list--item p {
    font-size: 12px;
    line-height: 15px;
  }
}
.categories__list--item .button {
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  .categories__list--item .button {
    width: 112px;
    height: 32px;
    font-size: 10px;
    line-height: 12px;
    border-radius: 5px;
  }
}
.categories__item--title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .categories__item--title {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 470px) {
  .categories__item--title {
    font-size: 12px;
    line-height: 15px;
  }
}
.categories__button {
  margin-inline: auto;
  margin-top: 60px;
  width: 280px;
  height: 60px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .categories__button {
    margin-top: 35px;
    width: 165px;
    height: 32px;
    font-size: 10px;
    border-radius: 5px;
  }
}

.oil {
  padding: 55px 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .oil {
    padding: 30px 0;
  }
}
.oil .title {
  margin-bottom: 27px;
}
@media screen and (max-width: 768px) {
  .oil .title {
    margin-bottom: 20px;
  }
}
.oil .filter {
  margin: 0;
}
.oil__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .oil__top {
    align-items: flex-end;
  }
}
.oil__list {
  padding-top: 32px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .oil__list {
    overflow: visible;
  }
}
.oil__list .swiper-slide {
  width: auto;
  overflow: hidden;
}
.oil__list--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0px;
  padding: 20px 20px 35px;
  border-radius: 15px;
  border: 2px solid #000000;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .oil__list--item {
    padding: 20px 20px 15px;
    border-radius: 10px;
    border-width: 1px;
  }
}
@media screen and (max-width: 576px) {
  .oil__list--item {
    width: 215px !important;
  }
}
@media screen and (max-width: 470px) {
  .oil__list--item {
    padding: 10px;
  }
}
.oil__list--price {
  font-size: 27px;
  font-weight: 600;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .oil__list--price {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 470px) {
  .oil__list--price {
    font-size: 12px;
    line-height: 15px;
  }
}
.oil__list--description {
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
}
.oil__list--rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.oil__list--rating div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.oil__list--rating p {
  font-size: 14px;
  color: #3dc028;
}
.oil__list--buttons {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
}
.oil__list--buttons div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.oil__list--buttons .button {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
}
.oil__swiper {
  width: 100% !important;
  overflow: hidden;
  height: 150px;
  margin-bottom: 16px;
}
.oil__swiper .swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0px;
}
.oil__swiper .swiper-slide img {
  height: 120px;
}
.oil__swiper .swiper-pagination {
  bottom: 0;
}
.oil__swiper .swiper-pagination-bullet {
  width: 23px;
  height: 2px;
  background-color: #151515;
}

.logos {
  padding: 40px 0;
  overflow: hidden;
  background-color: var(--lightgray);
}
@media screen and (max-width: 768px) {
  .logos {
    padding: 20px 0;
  }
}
.logos__swiper .swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  height: 75px;
}
@media screen and (max-width: 1024px) {
  .logos__swiper .swiper-slide {
    height: 30px;
  }
  .logos__swiper .swiper-slide img {
    width: 40px;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.logos .swiper {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .logos .swiper {
    width: 90%;
  }
}
.logos .swiper-button-next, .logos .swiper-button-prev {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #e0e0e0;
}
.logos .swiper-button-next::after, .logos .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 800;
  color: #262626 !important;
}
@media screen and (max-width: 768px) {
  .logos .swiper-button-next, .logos .swiper-button-prev {
    width: 22px;
    height: 22px;
    top: 95%;
  }
  .logos .swiper-button-next::after, .logos .swiper-button-prev::after {
    font-size: 8px;
  }
}

.products {
  padding: 55px 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .products {
    padding: 30px 0;
  }
}
.products .title {
  margin-bottom: 27px;
}
@media screen and (max-width: 768px) {
  .products .title {
    margin-bottom: 20px;
  }
}
.products .filter {
  margin: 0;
}
.products__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .products__top {
    align-items: flex-end;
  }
}
.products__list {
  padding-top: 32px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .products__list {
    overflow: visible;
  }
}
.products__list .swiper-slide {
  width: auto;
}
.products__list--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0px;
  padding: 20px 20px 35px;
  width: 100%;
  border-radius: 15px;
  border: 2px solid #000000;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .products__list--item {
    padding: 20px 20px 15px;
    border-radius: 10px;
    border-width: 1px;
  }
}
@media screen and (max-width: 576px) {
  .products__list--item {
    width: 215px !important;
  }
}
@media screen and (max-width: 470px) {
  .products__list--item {
    padding: 10px;
  }
}
.products__list--price {
  font-size: 27px;
  font-weight: 600;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .products__list--price {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 470px) {
  .products__list--price {
    font-size: 12px;
    line-height: 15px;
  }
}
.products__list--description {
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
}
.products__list--rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.products__list--rating div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.products__list--rating p {
  font-size: 14px;
  color: #3dc028;
}
.products__list--buttons {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
}
.products__list--buttons div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.products__list--buttons .button {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
}
.products__swiper {
  width: 100% !important;
  height: 150px;
  margin-bottom: 16px;
}
.products__swiper .swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0px;
}
.products__swiper .swiper-slide img {
  height: 120px;
}
.products__swiper .swiper-pagination {
  bottom: 0;
}
.products__swiper .swiper-pagination-bullet {
  width: 23px;
  height: 2px;
  background-color: #151515;
}

.selection {
  padding: 55px 0;
}
@media screen and (max-width: 768px) {
  .selection {
    padding: 30px 0;
  }
}
.selection__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 45px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .selection__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}
.selection__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 0px;
}
.selection__wrapper ul {
  width: 50%;
  padding-left: 25px;
  border-left: 1px solid #000000;
}
.selection__wrapper ul:first-child {
  border-left: none;
  padding-left: 0;
}
.selection__wrapper ul li {
  max-width: 620px;
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .selection__wrapper ul li {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }
}
.selection .linear-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-top: 70px;
  margin-inline: auto;
  width: 360px;
  height: 80px;
  border-radius: 60px;
  background-image: var(--green);
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  background-size: 500px;
}
@media screen and (max-width: 768px) {
  .selection .linear-btn {
    margin-top: 35px;
    width: 200px;
    height: 50px;
    font-size: 12px;
    border-radius: 30px;
  }
}

.news {
  padding: 55px 0;
}
@media screen and (max-width: 768px) {
  .news {
    padding: 30px 0;
  }
}
.news__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 18px;
}
@media screen and (max-width: 768px) {
  .news__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
    text-align: center;
  }
}
.news__text {
  max-width: 490px;
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 18px;
}
@media screen and (max-width: 768px) {
  .news__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-inline: auto;
    text-align: center;
  }
}
.news__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 35px;
}
@media screen and (max-width: 768px) {
  .news__wrapper {
    flex-direction: column;
    gap: 50px;
  }
}
.news__div {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .news__div {
    width: 100%;
  }
}
.news__list--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 56px 0 24px;
  border-bottom: 1px solid #000;
}
.news__list--item:first-child {
  padding-top: 0;
}
@media screen and (max-width: 576px) {
  .news__list--item {
    padding: 21px 0;
  }
}
.news__list--item span {
  padding: 18px 35px;
  border-radius: 5px;
  background-color: #d9d9d9;
}
@media screen and (max-width: 576px) {
  .news__list--item span {
    padding: 11px 13px;
  }
}
.news__list--item p {
  font-size: 15px;
  line-height: 18px;
}
@media screen and (max-width: 576px) {
  .news__list--item p {
    font-size: 12px;
  }
}
.news .linear-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-top: 70px;
  margin-inline: auto;
  width: 360px;
  height: 80px;
  border-radius: 60px;
  background-image: var(--red);
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  background-size: 500px;
}
@media screen and (max-width: 768px) {
  .news .linear-btn {
    margin-top: 35px;
    width: 200px;
    height: 50px;
    font-size: 12px;
    border-radius: 30px;
  }
}

.trends {
  padding: 55px 0;
}
@media screen and (max-width: 768px) {
  .trends {
    padding: 30px 0;
  }
}
.trends__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .trends__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
.trends__text {
  max-width: 490px;
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 45px;
  margin-inline: auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .trends__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
.trends .linear-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-inline: auto;
  width: 360px;
  height: 80px;
  border-radius: 60px;
  background-image: var(--blue);
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  background-size: 500px;
}
@media screen and (max-width: 768px) {
  .trends .linear-btn {
    margin-top: 35px;
    width: 200px;
    height: 50px;
    font-size: 12px;
    border-radius: 30px;
  }
  .trends .linear-btn svg {
    width: 21px;
  }
}

.welcome {
  padding: 55px 0;
  background-color: var(--lightgray);
}
@media screen and (max-width: 768px) {
  .welcome {
    padding: 30px 0;
  }
}
.welcome__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 18px;
}
@media screen and (max-width: 768px) {
  .welcome__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
.welcome__text {
  max-width: 1050px;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .welcome__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
.welcome ul {
  max-width: 900px;
  list-style: disc;
  list-style-position: inside;
}
.welcome ul li {
  font-size: 18px;
  margin-bottom: 15px;
}
.welcome__link {
  padding-bottom: 3px;
  font-size: 25px;
  font-weight: 700;
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}
@media screen and (max-width: 576px) {
  .welcome__link {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .promocode {
    background-image: url("../images/home/porsche-mobile.png");
  }
}
.promocode .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.promocode__wrapper {
  padding: 95px 0;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/home/porsche.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .promocode__wrapper {
    padding: 35px 0;
  }
}
.promocode__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 18px;
  color: var(--white);
}
@media screen and (max-width: 768px) {
  .promocode__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 576px) {
  .promocode__title {
    font-size: 15px;
    line-height: 18px;
  }
}
.promocode p {
  font-size: 25px;
  color: var(--white);
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .promocode p {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}
.promocode .button {
  width: 235px;
  height: 55px;
}
@media screen and (max-width: 768px) {
  .promocode .button {
    width: 105px;
    height: 25px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 5px;
  }
}
.promocode__bottom {
  margin-top: 7px;
  width: 100%;
  padding: 30px 0;
  margin-top: 7px;
  background-color: #333333;
}
.promocode__bottom .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .promocode__bottom {
    padding: 12px 0;
    margin-top: 2px;
  }
}
.promocode__bottom p {
  font-weight: 400;
  font-size: 17px;
  line-height: 20.5px;
  margin: 0;
}
@media screen and (max-width: 576px) {
  .promocode__bottom p {
    font-size: 11px;
    line-height: 13.3px;
  }
}
@media screen and (max-width: 480px) {
  .promocode__bottom p {
    font-size: 8px;
    line-height: 12.5px;
  }
}
.promocode__bottom a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  transition: var(--transition);
  color: var(--white);
}
.promocode__bottom a:hover {
  color: #fa0404;
}
@media screen and (max-width: 576px) {
  .promocode__bottom a {
    font-size: 12px;
    line-height: 14.5px;
    flex-direction: row-reverse;
  }
  .promocode__bottom a svg {
    width: 22px;
  }
}
@media screen and (max-width: 480px) {
  .promocode__bottom a {
    font-size: 8px;
    line-height: 12.5px;
  }
  .promocode__bottom a svg {
    width: 17px;
  }
}