@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f2f4fb;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f2f4fb;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: none;
  box-shadow: none;
  border-radius: 20px;
}

body {
  background: var(--white);
  max-width: 100%;
  overflow-x: hidden;
}

section,
footer {
  width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
select,
hr,
button,
textarea,
iframe {
  border: none;
  outline: none;
  background: transparent;
}

:root {
  --text-color: #090909;
  --primary: #d02c2c;
  --green: linear-gradient(90deg, #53CF5C 100%, #595959 100%);
  --blue: linear-gradient(90deg, #299FD9 100%, #165473 100%);
  --red: linear-gradient(90deg, #D02C2C 100%, #D02C2C 100%, #982929 100%);
  --lightgray: #ededed;
  --white:#fff;
  --transition: all 0.3s;
}

.nav__top {
  width: 100%;
  padding: 35px 0;
  margin-top: 7px;
  background-color: var(--lightgray);
}
@media screen and (max-width: 576px) {
  .nav__top {
    padding: 12px 0;
    margin-top: 2px;
  }
}
.nav__top .container p {
  font-weight: 400;
  font-size: 17px;
  line-height: 20.5px;
}
@media screen and (max-width: 576px) {
  .nav__top .container p {
    font-size: 11px;
    line-height: 13.3px;
  }
}
.nav__top .container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 21px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  transition: var(--transition);
}
.nav__top .container a:hover {
  color: #fa0404;
}
@media screen and (max-width: 576px) {
  .nav__top .container a {
    font-size: 12px;
    line-height: 14.5px;
    flex-direction: row-reverse;
  }
}
.nav__menu {
  padding: 15px 0;
  position: relative;
}
.nav__menu .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  position: static;
}
.nav__menu--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  transition: var(--transition);
}
@media screen and (max-width: 1280px) {
  .nav__menu--list {
    gap: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .nav__menu--list {
    position: absolute;
    top: 90px;
    left: -100%;
    wwidth: 300px;
    height: 100vh;
    padding: 30px;
    background-color: var(--white);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .nav__menu--list {
    width: 100%;
  }
}
.nav__menu--list li {
  transition: var(--transition);
}
.nav__menu--list li:hover {
  color: #fa0404;
}
.nav__menu--list.show {
  left: 0;
}
.nav__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav__open {
  display: flex;
}
.nav__close {
  display: none;
  align-items: center;
  justify-content: center;
}
.nav__close path {
  fill: var(--text-color);
}
@media screen and (max-width: 1024px) {
  .nav__login .button {
    display: none;
  }
}
.nav__login .img {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__login .img {
    display: flex;
  }
}
.nav__toggle {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__toggle {
    display: flex;
  }
}

.button {
  width: 187px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
}
.button:hover {
  background-color: #fa0404;
}

.container {
  position: relative;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1410px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
    max-width: 678px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
    max-width: 480px;
  }
}
@media screen and (max-width: 340px) {
  .container {
    padding: 0 10px;
  }
}

.hero {
  padding-top: 30px;
}
.hero__top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .hero__top .button {
    display: none;
  }
}
.hero__top--form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
  padding: 6px 16px;
  border-radius: 15px;
  border: 1px solid #000000;
}
@media screen and (max-width: 768px) {
  .hero__top--form {
    border-radius: 10px;
  }
}
.hero__top--form input[type=text] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .hero__top--form input[type=text] {
    font-size: 15px;
  }
}
.hero__top--form input[type=text]::-moz-placeholder {
  color: #000000;
}
.hero__top--form input[type=text]::placeholder {
  color: #000000;
}
.hero__top--form #check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .hero__top--form #check {
    gap: 7px;
  }
}
.hero__top--form #check label {
  cursor: pointer;
}
.hero__top--form input[type=checkbox] {
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hero__top--form input[type=checkbox] {
    font-size: 15px;
    width: 14px;
    height: 14px;
  }
}
.hero__top--form .slash {
  width: 1px;
  height: 100%;
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .hero__top--form button svg {
    width: 16px;
  }
}
.hero__swiper {
  margin: 75px 0 55px;
  height: 442px;
}
.hero__swiper-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 120px;
  z-index: 2;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero__swiper-content * {
  color: var(--white);
}
.hero .swiper-slide {
  position: relative;
}
.hero .swiper-slide img {
  width: 100%;
  position: relative;
  z-index: -1;
}
.hero .swiper-slide h2 {
  max-width: 750px;
  font-size: 47px;
  line-height: 66.7px;
}
.hero .swiper-slide p {
  margin-top: 45px;
  font-size: 32px;
  line-height: 38.7px;
}
.hero .swiper-slide a {
  margin-top: 35px;
  width: 245px;
  height: 60px;
  font-size: 18px;
  line-height: 22px;
}
.hero .swiper-button-next, .hero .swiper-button-prev {
  width: 55px;
  height: 55px;
  top: auto;
  bottom: 55px !important;
  border-radius: 50%;
  background-color: var(--lightgray) !important;
}
.hero .swiper-button-next::after, .hero .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 800;
  color: #262626 !important;
}
.hero .swiper-button-prev {
  left: auto;
  right: 155px !important;
}
.hero .swiper-button-next {
  right: 70px !important;
}